header, nav, main, footer, aside { display: block; }
* { box-sizing: border-box;}
body { margin:0;
       background-color: cornflowerblue; }
  header { background-color: black;
         background-image: url(pic1.jpeg);
         background-position: bottom;
         background-repeat: repeat-x;
         height: 120px;
         color: white;
         text-align: right;
         padding: 0 20px;
         border-bottom: 2px solid #000000; }		 
main { margin: 0 50px 0 50px;
        padding: 1px 10px 20px 10px;
        background-color: cornflowerblue;
        color: black; }
footer { font-size: .90em;
         text-align: center;
         color: black;
         background-color: cornflowerblue;
         padding-top: 10px;
         clear: both; }		 
h1 { margin-top: 0;
     font-size: 3em;
     text-align: left;
     text-shadow: 2px 2px 2px #000000; }	 
header a {font-size: 0.80em; }
header a:link, header a:visited { color: #ffffff; }
header a:focus, header a:hover { color: #eeeeee; }
main p { margin: 20px; }
main h2, main h3 { color: black;
                   background-color:white;
                  }

        img {
 max-width: 60%;
 max-height: 30%;
 float: right;
        }